body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    background-color: white;
    align-items: center;
    height: fit-content;
    width: fit-content;
    border-radius: 4%;

} 

img {
    display: block;
    width: 250px;
    height: 260px;
    object-fit: cover;
    padding: 15px;
    border-radius: 8%;

}

h1 {
    width: 250px;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
}

p {
    width: 250px;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    padding-bottom: 15px;
}

